h3{
    margin-bottom: 15px!important;
    font-size: 30px!important;
}
.auth.content{
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
}
.auth.content form{
    padding: 30px 20px 50px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.fl-rignt{
    float: right;
}
.text-right{
    text-align: right;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
input[type="checkbox"] + label {
    font-size: 18px;
    position: relative;
    top: -4px;
}
.home.card {
    width: 400px;
    margin: 50px auto;
}